{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'dash.css' %}">
<link rel="stylesheet" href="{% static 'sideBar.css' %}">
{% endblock styles %}
  

{% block page %}
<section class="page">
  {% include 'super_sideBar.html' %}
  <section class="main">
    <!-- <header>
      <span><i class="material-symbols-outlined">blur_on</i> Grades</span>
      <input type="text" placeholder="Search Grade" oninput="runGradeSearch(event.target.value.toLowerCase())">
    </header> -->
    <div class="report_box">
      <header>
        <span>Student</span>
        {% for course in grade.get_courses %}
        <span class="course" data-row="{{course}}">{{course}}</span> 
        {% endfor %}
      </header>

      {% for student in grade.get_students %}
      <div class="record">
          <span>{{student}}</span>
          <div class="record_bank">
          {% for score in student.get_scores %}
              <small data-course="{{score.quiz.topic.course}}" data-mark="{{score.mark}}"></small>
          {% endfor %}
          </div>
      </div>
      {% endfor %}
    </div>
  </section>
</section>

<!-- <script>
  const courses = document.querySelectorAll('.course')
  const record_banks = document.querySelectorAll('.record_bank')

  record_banks.forEach(bank=>{
    let data_row = [];
    [...bank.children].forEach(child=>{
      courses.forEach(course=>{
        if()
        console.log(course.dataset.row)
      })
      data_row.push(child.dataset.mark)
      // console.log(child)
    })
    console.log(data_row)
  })
</script> -->


<style>
  .record{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
</style>

<style>
  .main{
    /* padding: 0 !important; */
    align-items: center;
  }
  .report_box{
    width: 85%;
    /* padding:  10px 5%; */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: 2px solid black;
    /* height: 100px; */
  }

  .report_box header{
    border: 3px solid gold;
  }
</style>
{% endblock page %}
  
  

{% block js %}
  <!-- <script>
    const grades = document.querySelectorAll('.grade')

    runGradeSearch =(val)=>{
      grades.forEach(grade=>{
        if(!grade.dataset.name.toLowerCase().includes(val)){
          grade.style.display = 'none'
        }else{
          grade.style.display = 'flex'
        }
      })
    }
  </script> -->

{% endblock js %}
  