{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'Student/student_dash.css' %}">
<link rel="stylesheet" href="{% static 'Student/sideBar.css' %}">
{% endblock styles %}

{% block page %}
<section class="page">
  {% include 'student_sideBar.html' %}
  <section class="main">
    <nav>
      <div>
        <i class="material-symbols-outlined">blur_on</i>
        <span>Quiz Courses | {{courses.count}}</span>
      </div>
      <input type="text" id="item_in" placeholder="Search Course"
        oninput="runSchemeSearch(event.target.value.toLowerCase())">
    </nav>
    <section class="scheme_box">
      {% for course in courses %}
      <a href="{% url 'student_get_quizes_schemes_page' course.slug %}" class="scheme" data-name="{{course}}" data-subject="{{course.subject}}">
        <i class="material-symbols-outlined">psychology_alt</i>
        <span>{{course}}</span>
        <small>{{course.subject}}</small>
      </a>
      {% endfor %}
    </section>
  </section>
</section>
{% endblock page %}


{% block js %}

<script>
  const items = document.querySelectorAll('.scheme')

  runSchemeSearch = (val) => {
    items.forEach(item => {
      if (!item.dataset.name.toLowerCase().includes(val) && !item.dataset.subject.toLowerCase().includes(val)) {
        item.style.display = 'none'
      } else {
        item.style.display = 'flex'
      }
      runAnime(item)
    })
  }

  runAnime = (item) => {
    anime({
      targets: item,
      translateX: [50, 0],
      opacity: [0, 1],
      duration: 500,
      easing: 'spring(1, 80, 10, 0)'
    })
  }
</script>
{% endblock js %}