{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'Student/student_dash.css' %}">
{% endblock styles %}

{% block page %}
<section class="page">
  {% include "student_sideBar.html" %}
  <section class="main">
    <section class="quiz_box">

    </section>
    <style>
      .quiz_box{
        width: 100%;
        height: 200px;
        border: 3px solid black;
      }
    </style>

    <header data-course_progress="{{course_progress}}">
      {% for course in user.student.grade.get_courses %}
      <a class="item" href="">
        <p class="top">
          <i class="material-symbols-outlined">school</i>
          <span>{{course.subject}}</span>
        </p>
        <div class="progress_box">
          <div class="bar">
            <div class="progress"></div>
          </div>
          <small>TLM Progress</small>
        </div>
      </a>
      {% endfor %}
    </header>
  </section>
</section>

<script>
  let items = document.querySelectorAll('.item')
</script>
<script src="{% static 'Student/student.js' %}"></script>
<script>
  let course_progress = JSON.parse(document.querySelector('.main header').dataset.course_progress)
  const progress = document.querySelectorAll('.progress')

  course_progress.forEach((el, i) => {
    var progress_val = 0
    el.forEach(mini_el => {
      progress_val = progress_val + mini_el
    })
    progress_val = Math.round(progress_val / el.length) || 0
    progress[i].style.width = `${progress_val}%`
  })

</script>
{% endblock page %}