{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'Student/sideBar.css' %}">
<link rel="stylesheet" href="{% static 'Student/student_dash.css' %}">
{% endblock styles %}

{% block page %}
<section class="page">
  {% include 'student_sideBar.html' %}
  <section class="main">
    <nav>
      <div>
        <i class="material-symbols-outlined">blur_on</i>
        <span>{{scheme}} Quizes | {{courses.count}}</span>
      </div>
      <input type="text" id="item_in" placeholder="Search Course"
        oninput="runSchemeSearch(event.target.value.toLowerCase())">
    </nav>
    <section class="scheme_box">
      {% for quiz in scheme.get_quizes %}
      <div class="scheme_hold" data-name="{{quiz.title}}" data-subject="{{scheme.title}}">
        <a href="{% url 'student_start_quiz_page' quiz.slug %}" class="scheme">
          <i class="material-symbols-outlined">psychology_alt</i>
          <span>{{quiz.title}}</span>
          <small>{{quiz.level}}</small>
          <p>{{quiz.duration}} minutes</p>
        </a>
        <a href="" class="material-symbols-outlined correction_tag">history</a>
      </div>
      {% endfor %}
    </section>
  </section>
</section>
{% endblock page %}


{% block js %}

<script>
  const items = document.querySelectorAll('.scheme_hold')

  runSchemeSearch = (val) => {
    items.forEach(item => {
      if (!item.dataset.name.toLowerCase().includes(val) && !item.dataset.subject.toLowerCase().includes(val)) {
        item.style.display = 'none'
      } else {
        item.style.display = 'flex'
      }
      runAnime(item)
    })
  }

  runAnime = (item) => {
    anime({
      targets: item,
      translateX: [50, 0],
      opacity: [0, 1],
      duration: 500,
      easing: 'spring(1, 80, 10, 0)',
      begin : ()=>{
        item.style.transition = 'none'
      },
      complete : ()=>{
        item.style.transition = '0.4s ease;'
      }
    })
  }
</script>
{% endblock js %}