{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'Student/student_dash.css' %}">
<link rel="stylesheet" href="{% static 'Student/sideBar.css' %}">
{% endblock styles %}

{% block page %}
<section class="page">
  {% include 'student_sideBar.html' %}
  <section class="main">
    <div class="sum_box_holder">
      <div class="sum_box">
        <span></span>
        <i class="material-symbols-outlined"></i>
      </div>
    </div>
    <nav>
      <div>
        <i class="material-symbols-outlined">blur_on</i>
        <span>Assessment Courses | {{grade.get_courses.count}}</span>
      </div>
      <input type="text" id="item_in" placeholder="Search Course"
        oninput="runSchemeSearch(event.target.value.toLowerCase())">
    </nav>
    <section class="report_box" data-course_avg_list="{{course_avg_list}}">
      {% for course in grade.get_courses %}
      <a class="report" href="{% url 'student_get_quizes_schemes_page' course.slug %}" data-name="{{course.subject}}" data-subject="{{course.subject}}">
        <span style="color: rgb(104, 104, 104); font-size: 1.3rem;">{{course.subject}}</span>
        <hr style="width: 90%; border-top: 2px dotted darkgray;">
        <span class="mark_span">50%</span> 
      </a>
      {% endfor %}
    </section>
  </section>
</section>

<script>
  const mark_span = document.querySelectorAll('.mark_span')
  let courseAvgList = JSON.parse(document.querySelector('.report_box').dataset.course_avg_list)
  const sum_box = document.querySelector('.sum_box')
  const sum_span = document.querySelector('.sum_box span')
  const sum_info = document.querySelector('.sum_box i')

  var sum = 0
  courseAvgList.forEach((avg,i)=>{
    if(avg > 60){
      mark_span[i].style.color = '#11dd77'
    }else if (avg > 40) {
      mark_span[i].style.color = 'orange'
    }else{
      mark_span[i].style.color = 'salmon'
    }
    if(avg%1 != 0){
      mark_span[i].innerHTML = `${parseFloat(avg).toFixed(2)} %`
    }else{
      mark_span[i].innerHTML = `${parseFloat(avg)} %`
    }
    sum = sum + avg 
  })
  sum = sum / courseAvgList.length 
  if(sum > 60){
    sum_box.style.background = '#11dd77'
    sum_info.innerHTML = 'verified'
  }else if (sum > 40) {
    sum_box.style.background = 'orange'   
    sum_info.innerHTML = 'balance'
  }else{
    sum_box.style.background = 'salmon'
    sum_info.innerHTML = 'Warning'
  }
  sum_span.innerHTML = `${sum.toFixed(2)}%`
</script>

<style>
  .report_box{
    width: 100%;
    display: flex;
    gap: 1.5rem 0;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .mark_span{
    font-size: 2rem;
  }
  .sum_box{
    width: 280px;
    height: 170px;
    font-size: 2rem;
    color: white;
    font-weight: 600;
  }
  .report{
    width: 180px;
    height: 250px;
    background: white;
  }
  .sum_box, .report{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    border-radius: 140px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
</style>
{% endblock page %}


{% block js %}
<script>
  const items = document.querySelectorAll('.report')
</script>
<script src="{% static 'Student/student.js' %}"></script>
{% endblock js %}