{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'Student/student_dash.css' %}">
<link rel="stylesheet" href="{% static 'Student/sideBar.css' %}">
<link rel="stylesheet" href="{% static 'Student/assessment.css' %}">
{% endblock styles %}

{% block page %}
<section class="page">
  {% include 'student_sideBar.html' %}
  <section class="main">
    <nav>
      <div>
        <i class="material-symbols-outlined">blur_on</i>
        <span>Quiz Courses | {{courses.count}}</span>
      </div>
      <input type="text" id="item_in" placeholder="Search Course"
        oninput="runSchemeSearch(event.target.value.toLowerCase())">
    </nav>
    <section class="top_box">
      <div class="avg_box"><span>83%</span></div>
      <a href="{% url 'student_report_page' %}">-Report-</a>
    </section>
    <section class="low_box">
      {% for course in grade.get_courses %}
      <a href="{% url 'student_assessment_quizes_page' course.slug %}" class="course_box">
        <span>{{course}}</span>
        <small>{{course.subject}}</small>
        <p class="small_box">
        {% for scheme in course.get_schemes %}
          {% for quiz in scheme.get_quizes %}
            {% for score in quiz.get_user_scores %}
                <small data-mark="{{score.mark}}"></small>
            {% endfor %}
          {% endfor %}
        {% endfor %}
        </p>
        <hr>
        <div class="course_tag"></div>
        <div class="course_avg"> </div>
      </a>
      {% endfor %}
    </section>
  </section>
</section>

<style>
  .top_box{
    display: flex;
  }
  .avg_box{
    background: #2a2a46;
  }
</style>


<script>
  const courses = document.querySelectorAll('.course_box')
  const course_avg = document.querySelectorAll('.course_avg')
  const course_tag = document.querySelectorAll('.course_tag')

  let avg_box = [];
  courses.forEach((course,i)=>{
    var avg = 0;
    [...course.children[2].children].forEach(mark_box=>{
      avg = eval(avg + parseFloat(mark_box.dataset.mark))
    })
    var quiz_count = [...course.children[2].children].length 
    avg = avg / quiz_count || 0
    avg_box.push(avg)
    if(avg > 60){
      course.style.background = '#0ddc74'
    }else if (avg > 40) {
      course.style.background = '#ffa500'
    }else{
      course.style.background = 'salmon'
    }
    course_tag[i].innerHTML = quiz_count
    course_avg[i].innerHTML = `${avg.toFixed(2)}%`
  })

  const total_avg_box = document.querySelector('.avg_box span')

  var total_avg = 0
  avg_box.forEach(avg => {
    total_avg = total_avg + avg
  })
  console.log(avg_box)

  total_avg = (total_avg / avg_box.length)
  total_avg_box.innerHTML = total_avg.toFixed(2) + '%'


</script>

{% endblock page %}


{% block js %}
<script>
  const items = document.querySelectorAll('.scheme')

  runSchemeSearch = (val) => {
    items.forEach(item => {
      if (!item.dataset.name.toLowerCase().includes(val) && !item.dataset.subject.toLowerCase().includes(val)) {
        item.style.display = 'none'
      } else {
        item.style.display = 'flex'
      }
      runAnime(item)
    })
  }

  runAnime = (item) => {
    anime({
      targets: item,
      translateX: [50, 0],
      opacity: [0, 1],
      duration: 500,
      easing: 'spring(1, 80, 10, 0)'
    })
  }
</script>
{% endblock js %}