{% load static %}

<section class="sideBar">
  <button id="sideBar_tag" class="material-symbols-outlined">linear_scale</button>
  <header>
    <div style="background-image: url(images/bag.jpeg);"></div>
    <span>{{user.username}}</span>
    <hr>
  </header>
  <nav>
    <a href="{% url 'student_dash' %}"><i class="material-symbols-outlined">shield_person</i> <span>Panel</span> </a>
    <a href=""><i class="material-symbols-outlined">wallpaper_slideshow</i> <span>Slides</span></a>
    <a href="{% url 'student_quizes_page' %}"><i class="material-symbols-outlined">psychology_alt</i> <span>Quizes</span></a>
    <a href="{% url 'student_assessment_page' %}"><i class="material-symbols-outlined">pie_chart</i> <span>Assesment</span></a>
    <a href=""><i class="material-symbols-outlined">person</i> <span>Profile</span></a>
  </nav>
  <footer>
    <hr>
    <a href="{% url 'logout_page' %}" class="material-symbols-outlined">power_settings_new</a>
  </footer>
</section>

